* {
    font-family: sans-serif;
}

div.layout
{
	position: absolute;
	margin: 0;
	padding: 0;
	border: solid 1px grey;
}

div#header
{
	width: 60%;
	height: 10%;
	left: 1%;
}

div#logbox
{
	width: 35%;
	height: 10%;
	right: 1%;
}

div#menu
{
	width: 20%;
	height: 70%;
	top: 15%;
	left: 1%;
}

div#contents
{
	width: 75%;
	height: 70%;
	top: 15%;
	right: 1%;
	overflow-y: scroll;
}

div#footer
{
	width: 98%;
	height: 10%;
	bottom: 1%;
	left: 1%;
}

div#players
{
	position: absolute;
	left: 1%;
	top: 1%;
	height: 86%;
	width: 20%;
}

div#teams
{
	position: absolute;
	right: 1%;
	top: 1%;
	height: 98%;
	width: 75%;
}

div#general
{
  position: absolute;
  right: 1%;
  top: 88%;
  height: 10%;
  width: 98%;
}

table#inscr_table
{
  border: solid 1px black;
	width: 100%;
}

table.team_table
{
  border: solid 1px black;
	margin: 5px;
}

th.team_name, th.group_name
{
  background-color: black;
  color: white;
  cursor: default;
}

th.header
{
  font-size: small;
  font-style: italic;
}

table.casting
{
	border: solid 1px black;
	margin-bottom: 5px;
}

table.casting td
{
  border: solid 3px white;
  cursor: default;
}

table.casting td:hover
{
  background-color: #c0c0c0;
}
  
table.casting td.active
{
  border-color: #000000;
}

input.gir_text
{
	width: 100%;
}

select.gir_select
{
	width: 100%;
}

.error
{
	color: red;
}
