* {
    font-family: sans-serif;
}

div
{
	position: absolute;
	margin: 0;
	padding: 0;
	border: solid 1px grey;
}

div#header
{
	width: 60%;
	height: 10%;
	left: 1%;
}

div#logbox
{
	width: 35%;
	height: 10%;
	right: 1%;
}

div#menu
{
	width: 20%;
	height: 70%;
	top: 15%;
	left: 1%;
}

div#contents
{
	width: 75%;
	height: 70%;
	top: 15%;
	right: 1%;
	overflow-y: scroll;
}

div#footer
{
	width: 98%;
	height: 10%;
	bottom: 1%;
	left: 1%;
}

table#inscr_table
{
  border: solid 1px black;
}

div#groups
{
  border: none;
}

div#groups table
{
  border: solid 1px black;
}

div#groups th
{
  background-color: black;
  color: white;
}

table#inscr_table td
{
  border-width: 3px;
  border-style: solid;
  border-color: white;
}

table#inscr_table td.active
{
  border-color: #000000;
}

table#inscr_table td.group0
{
  background-color: #ffffff;
  color: white;
}

table#inscr_table td.group1.active
{
  border-color: #000080;
}

table#inscr_table td.group1
{
  background-color: #0000ff;
  border-color: #0000ff;
  color: white;
}

table#inscr_table td.group1.active
{
  border-color: #000080;
}

table#inscr_table td.group2
{
  background-color: #ff0000;
}

table#inscr_table td.group2.active
{
  border-color: #800000;
}

table#inscr_table td.group3
{
  background-color: #ff00ff;
}

table#inscr_table td.group3.active
{
  border-color: #800080;
}

table#inscr_table td.group4
{
  background-color: #00ff00;
}

table#inscr_table td.group4.active
{
  border-color: #008000;
}

table#inscr_table td.group5
{
  background-color: #00ffff;
}

table#inscr_table td.group5.active
{
  border-color: #008080;
}

table#inscr_table td.group6
{
  background-color: #ffff00;
}

table#inscr_table td.group6.active
{
  border-color: #808000;
}
